<!-- Footer -->
<div id="footer">

  <ul class="icons">
    <li><a href="https://www.linkedin.com/in/adel-ansari/" class="icon-b fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
    <li><a href="https://github.com/adelansari" class="icon-b fa-github"><span class="label">GitHub</span></a></li>
    <li><a href="mailto:adelansari.a@gmail.com" class="icon fa-envelope"><span class="label">Email</span></a></li>
  </ul>

  <!-- Copyright -->
  <ul class="copyright">
    {% if site.title or site.author %}
      <li>&copy; {{- site.title | default: site.author -}}. All rights reserved.</li>
    {% endif %}
  </ul>

</div>
